@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: banglaFont;
  src: url("fonts/bangla.ttf");
}

:root {
  --EnglishFont: "Sansation", sans-serif;
  --dualFont: banglaFont, var(--EnglishFont);
}

body {
  margin: 0;
  font-family: var(--dualFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7f7fe4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
div,
li,
button {
  margin: 0;
  padding: 0;
}

.nav {
  height: 70px;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: #00000033;
}

.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}

.beet {
  justify-content: space-between;
}

.logo {
  height: 50px;
  width: 50px;
}

.navText {
  font-size: 1.5rem;
  color: #fff;
}

.center {
  justify-content: center;
}

.medel {
  align-items: center;
}

.fullPage {
  height: 100vh;
  width: 100%;
}
.fixed{
  position: fixed;
}
.index {
  z-index: 1000;
}

.darkSide {
  background-color: rgba(0, 0, 0, 0.374);
}

.btn {
  height: 30px;
  padding: 5px;
  width: auto;
  padding: 0 10px 0 10px;
  border: none;
  cursor: pointer;
  font-family: var(--dabulfont);
}

.btn:hover {
  border: 1px dashed #4680ff;
}

.mailholdbox {
  border: 1px solid #0000002a;
  height: 100%;
  width: 99%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

.stm300 {
  width: 100%;
}

.textRight {
  text-align: right;
}

.w95 {
  width: 95%;
}


.cloman {
  height: auto;
}



.printBtn {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #4680ff;
  color: #fff;
  border: none;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconx {
  font-size: 18px;
}

.hash {
  background-color: #b4b4bd;
}

.flex-end {
  justify-content: flex-end;
}

.input,
.select {
  height: 25px;
  width: auto;
  background-color: #fff;
  border: 1px solid #4680ff;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  transition: all 0.2s;
}

.select {
  height: 35px;
}

.w200px {
  width: 200px;
}

.w100px {
  width: 100px;
}

select:focus,
input:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.grap {
  margin: 6px;
  border: 1px dashed #000;
  padding: 5px;
}

.shortDiv {
  width: 200px;
}

.w50px {
  width: 50px;
}

.styleBtn {
  background-color: rgb(247, 62, 99);
  color: #fff;
}

.vcc,
.dispalyNone {
  display: none;
}

.styleText {
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ccOg {
  width: 260px;
}


.checkSystem {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}


.checkSystem:checked::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 5px;
  width: 9px;
  height: 15px;
  border: solid #000;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.table_component {
  width: 100%;
}

.table_component table {
  border: 1px dashed #dededf;
  height: 100%;
  width: auto;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table_component th {
  border: 1px dashed #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 8px;
  text-align: center;
}

.table_component td {
  border: 1px dashed #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  transition: all 0.4s;
}
.table_component td:hover{
  background-color: #000;
  color: #fff;
}

.w50 {
  width: 50%;
}

.fxBtn {
  height: 35px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background-color: #4680ff;
  cursor: pointer;
  border: none;
}

.fx {
  display: flex;
  width: auto;
  margin: 10px;
}

.fxInput {
  padding-left: 10px;
  padding-right: 10px;
  color: #4680ff;
  border: 1px solid #4680ff;
  outline: none;
  background-color: #fff;
}

.iconTab {
  background-color: #4680ff;
  font-size: 20px;
  color: #fff;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  margin: 0 5px 0 5px;
}

.deleteBtn {
  background-color: red;
}

.editBtn {
  background-color: orange;
}

.viewBtn {
  background-color: green;
}

.error {
  color: red;
  font-size: 18px;
  text-align: center;
  margin: 20px;
  border: 2px dotted red;
  width: 100%;
}

details {
  background-color: #f0edcc;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s;
}

details[open] {
  grid-template-rows: 1fr;
}

details summary {
  padding: 10px;
  font-size: 22px;
  background-color: purple;
  color: #fff;
}

details p {
  padding-left: 30px;
  font-size: 18px;
  line-height: 1.2;
  margin: 5px;
  overflow: hidden;
}

details[open] p {
  animation: expand 0.5s ease-in-out forwards;
}

.inBox {
  height: 100px;
  width: 100px;
  border: 1px dotted #00000052;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  background-color: azure;
  cursor: pointer;
  box-shadow: 10px 10px 8px #00000008 inset;
  transition: all 0.2s;
  flex-direction: column;
}

.boxIcon {
  height: 40px;
}

.inBox:hover {
  box-shadow: none;
}

.popupNav {
  padding: 10px;
  background-color: #ffecec;
  width: 100%;
}

.backIcon {
  font-size: 25px;
  border-radius: 100px;
  border: 1px solid #000;
  padding: 5px;
  margin-left: 10px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.backIcon:hover {
  background-color: #ff0000;
  color: #fff;
  border: 1px solid #fff;
}

.popupContainer {
  animation: openani 0.6s;
}

@keyframes openani {
  0% {
    transform: rotateX(50deg);
  }

  100% {
    transform: rotateX(0);
  }
}

/* ====== A4 PAGE ONLY CSS ====== */
.contBox {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameBox {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #a5c1ff55;
}

.pLogo {
  height: 100px;
}

.banar {
  background-color: #4680ff;
  color: #fff;
  height: 40px;
  text-align: center;
  border-radius: 100px 100px 0 0;
  position: relative;
  font-size: 16px;
  width: 100%;
}

.sideBar {
  background-color: #fffce9;
  width: 350px;
  height: 100%;
  padding: 10px;
}

.bigText {
  font-size: 24px;
}

.captext {
  font-size: 20px;
}

.modiul2 {
  height: auto;
}

.lineStyle {
  border-bottom: 1px dashed #000;
  margin: 5px;
  margin-top: 10px;
}

.bottomSystem {
  text-align: center;
  background-color: #4680ff;
  color: #fff;
}

.segestBox {
  border-top: 4px solid #000;
  padding: 10px 0;
}

.mark {
  background-color: #4680ff;
  border-radius: 100px;
  color: #fff;
  padding: 2px 3px;
  font-size: 13px;
  margin: 5px 0;
}

.iconr {
  font-size: 30px;
  padding: 10px;
}

.cloman {
  display: flex;
  flex-direction: column;
}

.textCenter {
  text-align: center;
}

/* Checkbox layout boxes */
.rayBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set {
  height: 30px;
  width: 30px;
}

.demo {
  height: 100px;
  width: 100px;
}

.borderRB {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.borderLB {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.borderRT {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.borderLT {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

.checkSystem {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.checkSystem:checked {
  background-color: #ffffff;
  border-color: #ffffff;
}

.checkSystem:checked::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 5px;
  width: 9px;
  height: 15px;
  border: solid #000;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.borderset {
  border-left: 2px solid #000;
}



@media print {
  @page {
    margin: 0;
  }

  .contBox {
    height: 1100px;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
  }
}



/* ====/== A4 PAGE ONLY CSS ====/== */




/* =======Css loader ========= */

.fill {
  height: 100vh;
  width: 100%;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  background-color: rgb(237, 237, 237);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transform: rotateZ(45deg);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}

.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 {
  100% {
    transform: rotate(.5turn)
  }
}

/* ====end loader css===== */

.nameBox,
.bottomSystem {
  padding-bottom: 5px;
  padding-top: 5px;
}

.sampuleSetting {
  padding: 8px;
}

.bottom {
  bottom: 0;
}

.err {
  height: auto;
  width: 300px;
  background-color: rgba(255, 0, 0, 0.665);
  border: 1px solid #fff;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.left {
  left: 0;
}

.padding {
  padding: 10px;
}

.top {
  top: 0;
}

.wrap {
  flex-wrap: wrap;
}

.animation {
  animation: animt 0.5s;
}

@keyframes animt {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.border {
  border: 1px dashed #4680ff;
}

.opction input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px dashed #4680ff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}

.opction input[type="checkbox"]:checked {
  background-color: #4680ff;
  border-style: solid;
}

/* ========= login box css */
.card {
  height: auto;
  width: 380px;
  background-color: #fff;
  border-radius: 10px;
}

.userImg {
  border-radius: 100px;
  height: 170px;
  width: 170px;
  border: 1px dashed #4680ff;
}

.test {
  background-color: red;
}

.false {
  border: 1px dashed #00000032;
  height: 30px;
  width: 70px;
  text-align: center;
}

.appBtn {
  height: 50px;
  width: 50px;
  background-color: #00000073;
  margin-left: 5px;
  border: none;
  color: #FFF;
  border-radius: 8px;
  cursor: pointer;
  backdrop-filter: blur(5px);
}

.active {
  background-color: #ffffffc5;
  color: #000000;
}

.appBtnName {
  color: #ffd369;
  background: #2c536469;
  border: 1px dashed #ffd369;
  padding: 6px 14px;
  position: absolute;
  bottom: 70px;
  border-radius: 14px;
  display: none;
  font-size: 12pt;
  backdrop-filter: blur(5px);
  width: auto;
}
.appBtn:hover .appBtnName{
  display: block;
}

.appicon {
  font-size: 28px;
}

.eve {
  justify-content: space-evenly;
}

.title {
  font-size: 55px;
  color: #fff;
}

.colorFFF {
  color: #fff;
}

.uiModiul {
  background-color: #00000071;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 880;
  bottom: 0;
  left: 0;
  overflow: auto; 
}

.uiBorder {
  border-bottom: 1px solid #ffffff2a;
}

.rghtNav {
  height: 40px;
  background-color: #ffffff33;
  width: auto;
}

.uiNavBtn {
  height: 40px;
  width: 40px;
  background-color: #ffffff00;
  border: none;
  outline: none;
  cursor: pointer;
  border-right: 1px solid #ffffff4f;
}

.navIcon {
  font-size: 24px;
  color: #ffffff8a;
}

.uiTopNav {
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(3px);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f131;
}

::-webkit-scrollbar-thumb {
  background: #ffffff9c;
}

::-webkit-scrollbar-thumb:hover {
  background: #4680ff;
  cursor: pointer;
}

.uiBox {
  background-color: #ffffff9e;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  backdrop-filter: blur(5px);
  border: 1px solid #ffffff8d;
}

.dropBtn {
  border-top: 1px dashed #4680ff;
  border-bottom: 1px dashed #4680ff;
  height: 30px;
  display: flex;
  cursor: pointer;
  transition: 0.1s;
  align-items: center;
}

.dropBtn:hover {
  background-color: #4680ff;
  color: #fff;
}

.dropDown {
  max-height: 30vh;
  width: 200px;
  position: absolute;
  overflow: auto;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  backdrop-filter: blur(5px);
  border: 1px solid rgb(0, 0, 0);
  background-color: #fffffffb;
  color: #000;
  display: none;
}

.dropdownOpen:focus-within .dropDown {
  display: block;
}

.dropDown:hover {
  display: block;
}
.errIcon{
  font-size: 100px;
}
.bigIcon{
  font-size: larger;
}
.back:hover{
  background-color: #ff9100;
}
.reload:hover{
  background-color: #4680ff;
}
.exit:hover{
  background-color: red;
}
