@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: banglaFont;
  src: url("fonts/bangla.ttf");
}

:root {
  --EnglishFont: "Sansation", sans-serif;
  --dualFont: banglaFont, var(--EnglishFont);
}

body {
  margin: 0;
  font-family: var(--dualFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b4b4bd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
div,
li,
button {
  margin: 0;
  padding: 0;
}

.nav {
  height: auto;
  padding: 10px 0 10px 0;
  background-color: #4680ff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}
.beet{
  justify-content: space-between;
}
.logo {
  height: 50px;
  width: 50px;
}

.navText {
  font-size: 1.5rem;
  color: #fff;
}

.center {
  justify-content: center;
}

.medel {
  align-items: center;
}

.fullPage {
  height: 100vh;
  width: 100%;
}

.index {
  position: fixed;
  z-index: 1000;
  top: 0;
}

.darkSide {
  background-color: rgba(0, 0, 0, 0.38);
}

.btn {
  height: 34px;
  width: auto;
  background-color: gainsboro;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--dabulfont);
}

.navBtn {
  background-color: #4681ff00;
  color: #fff;
  margin-left: 10px;
  transition: all 0.4s;
}

.navBtn:hover {
  background-color: #ffffff52;
}

.dop1 {
  position: sticky;
  top: 54px;
  width: 300px;
  background-color: #eeeeee;
  height: 100%;
}

.dop2 {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

}

.sideNavBtn {
  width: 100%;
  text-align: left;
  border-radius: 3px;
  background-color: #fff;
  font-size: large;
  transition: all 0.4s;
  margin-bottom: 8px;
}

.icon {
  font-size: 18px;
  padding: 5px;
}

.sideNavBtn:hover {
  background-color: #a5c2ff;
}

.mailholdbox {
  border: 1px solid #0000002a;
  height: 100%;
  width: 99%;
}

.w90 {
  width: 90%;
}

.test1 {
  background-color: red;
}

.test2 {
  background-color: yellow;
}

.test3 {
  background-color: pink;
}

.test4 {
  background-color: aqua;
}

.w100 {
  width: 100%;
}

.stm300 {
  width: 100%;
}

.textRight {
  text-align: right;
}

.w95 {
  width: 95%;
}

.banar {
  background-color: #4680ff;
  color: #fff;
  height: 40px;
  text-align: center;
  border-radius: 100px 100px 0 0 ;
  position: relative;
  font-size: 16px;
  width: 100%;
}

.nameBox {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 5px;
  background-color: #a5c1ff55;
}
.h90vh{
  height: 60vh;
  background-color: #a5c2ff55;
  width: 300px;
  border-right: 2px solid #000;
}
.cloman{
  height: 100%;
}
.bottomSystem{
  text-align: center;
  background-color: #4680ff;
  color: #fff ;
  padding: 5px;
}
.segestBox{
  border-top: 4px solid #000;
}
.mark{
  background-color: #4680ff;
  border-radius: 100px;
  color: #fff;
  padding: 5px 10px 5px 10px;
  display: inline-block;
}
.end{
align-items: flex-end;
}
.t16{
  font-size: 13px;
}
.iconr{
  font-size: 30px;
  padding: 10px;
}