@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: banglaFont;
  src: url("fonts/bangla.ttf");
}

:root {
  --EnglishFont: "Sansation", sans-serif;
  --dualFont: banglaFont, var(--EnglishFont);
}

body {
  margin: 0;
  font-family: var(--dualFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b4b4bd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
div,
li,
button {
  margin: 0;
  padding: 0;
}

.nav {
  height: auto;
  padding: 10px 0 10px 0;
  background-color: #4680ff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}

.beet {
  justify-content: space-between;
}

.logo {
  height: 50px;
  width: 50px;
}

.navText {
  font-size: 1.5rem;
  color: #fff;
}

.center {
  justify-content: center;
}

.medel {
  align-items: center;
}

.fullPage {
  height: 100vh;
  width: 100%;
}

.index {
  position: fixed;
  z-index: 1000;
  top: 0;
}

.darkSide {
  background-color: rgba(0, 0, 0, 0.38);
}

.btn {
  height: 30px;
  padding: 5px;
  width: auto;
  padding: 0 10px 0 10px;
  border: none;
  cursor: pointer;
  font-family: var(--dabulfont);
}

.btn:hover {
  border: 1px dashed #4680ff;
}

.navBtn {
  background-color: #4681ff00;
  color: #fff;
  margin-left: 10px;
  transition: all 0.4s;
}

.navBtn:hover {
  background-color: #ffffff52;
}

.dop1 {
  position: sticky;
  top: 54px;
  width: 300px;
  background-color: #eeeeee;
  height: 100%;
}

.dop2 {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.sideNavBtn {
  width: 100%;
  text-align: left;
  border-radius: 3px;
  background-color: #fff;
  font-size: large;
  transition: all 0.4s;
  margin-bottom: 8px;
  border: 1px dashed #000;
}

.icon {
  font-size: 18px;
  padding: 5px;
}

.sideNavBtn:hover {
  background-color: #a5c2ff;
}

.mailholdbox {
  border: 1px solid #0000002a;
  height: 100%;
  width: 99%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

.stm300 {
  width: 100%;
}

.textRight {
  text-align: right;
}

.w95 {
  width: 95%;
}

.banar {
  background-color: #4680ff;
  color: #fff;
  height: 40px;
  text-align: center;
  border-radius: 100px 100px 0 0;
  position: relative;
  font-size: 16px;
  width: 100%;
}

.nameBox {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 5px;
  background-color: #a5c1ff55;
}

.sideBar {
  background-color: #a5c2ff55;
  width: 300px;
  border-right: 2px solid #000;
  height: 100%;
}

.cloman {
  height: 100%;
}

.bottomSystem {
  text-align: center;
  background-color: #4680ff;
  color: #fff;
  padding: 5px;
}

.segestBox {
  border-top: 4px solid #000;
}

.mark {
  background-color: #4680ff;
  border-radius: 100px;
  color: #fff;
  padding: 2px 3px 2px 3px;
  display: inline-block;
  font-size: 13px;
  margin: 5px;
}

.end {
  align-items: flex-end;
}

.t16 {
  font-size: 13px;
}

.iconr {
  font-size: 30px;
  padding: 10px;
}

.ex {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.modiul2 {
  /* use Rx side */
  height: 70vh;
}

.contBox {
  width: 900px;
  height: 120vh;
  border: 1px solid #000;
}

.cloman {
  flex-direction: column;
}

.test {
  background-color: red;
}

.textCenter {
  text-align: center;
}

.lineStyle {
  border-bottom: 1px dashed #000;
  margin: 5px;
  margin-top: 10px;
}

.pLogo {
  height: 100px;
}

.captext {
  font-size: 20px;
}

.printBtn {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #4680ff;
  color: #fff;
  border: none;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconx {
  font-size: 18px;
}

.hash {
  background-color: #b4b4bd;
}

.flex-end {
  justify-content: flex-end;
}

.input,
.select {
  height: 25px;
  width: auto;
  background-color: #fff;
  border: 1px solid #4680ff;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  transition: all 0.2s;
}

.select {
  height: 35px;
}

.w200px {
  width: 200px;
}

.w100px {
  width: 100px;
}

select:focus,
input:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.grap {
  margin: 6px;
  border: 1px dashed #000;
  padding: 5px;
}

.shortDiv {
  width: 200px;
}

.w50px {
  width: 50px;
}

.styleBtn {
  background-color: rgb(247, 62, 99);
  color: #fff;
}

.vcc,
.dispalyNone {
  display: none;
}

.styleText {
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ccOg {
  width: 260px;
}

.rayBox {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderRB {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.borderLB {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.borderRT {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.borderLT {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

.checkSystem {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

/* checked state background */
.checkSystem:checked {
  background-color: #ffffff;
  border-color: #ffffff;
}

/* tick mark */
.checkSystem:checked::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 5px;
  width: 9px;
  height: 15px;
  border: solid #000;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.table_component {
  overflow: auto;
  width: 100%;
}

.table_component table {
  border: 1px dashed #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table_component caption {
  caption-side: top;
  text-align: center;
}

.table_component th {
  border: 1px dashed #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

.table_component td {
  border: 1px dashed #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

.w50 {
  width: 50%;
}


details {
  background-color: #f0edcc;
  padding: 5px;
  cursor: pointer;
  width: 100%;
}

details summary {
  padding: 10px;
  font-size: 22px;
  color: purple;
}

details p {
  padding-left: 30px;
  font-size: 18px;
  line-height: 1.2;
  margin: 5px;
}

.fxBtn {
  height: 35px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background-color: #4680ff;
  cursor: pointer;
  border: none;
}

.fx {
  display: flex;
  width: auto;
  margin: 10px;
}

.fxInput {
  padding-left: 10px;
  padding-right: 10px;
  color: #4680ff;
  border: 1px solid #4680ff;
  outline: none;
}

.iconTab {
  background-color: #4680ff;
  font-size: 20px;
  color: #fff;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  margin: 0 5px 0 5px;
}

.deleteBtn {
  background-color: red;
}
.editBtn {
  background-color: orange;
}
.viewBtn {
  background-color: green;
}